.rec-container {
    max-width: 250px;
    float: left;
    text-align: center;
}
 
.gif-btn {
    font-size: 20px;
    width: 100%;

    margin-top: 10px;
} 

.page-body {
    margin: 15px 0 10px 250px;
}

.input-box {
    padding: 0;
}  

.loaded-gif {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

.ratings {
    float: left;
    margin-top: 10px;
    height: 25px;
    padding-top: 5px;
    width: 100px;
    font-size: 13px;
}